body
{
    background: radial-gradient(lightblue, aliceblue);
}

div#flexwrappermain
{
    height: 99vh;
    display: flex;
    flex-direction: column;
    filter: blur(0px);

    /*background-color: aquamarine;*/
}

div.one
{
    /*background-color: coral;*/
    height: 5vh;
}

div.two
{
    /*background-color: rebeccapurple;*/
    text-align: center;

}

div.three
{
    /*background-color: blue;*/
    text-align: center;
}

div.four
{

    /*background-color: olivedrab;*/
}

div.four p
{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

div.five
{
    /*background-color: thistle;*/
    display: flex;
    flex-direction: column;
}

div.five div
{
    text-align: center;
    border-top: 1px solid black;
    margin-top: 20px;
    margin-left: 10%;
    padding-top: 20px;
    width: 80%;
}

div.five div:last-child
{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

div.five div img
{
    margin-left: 10%;
    margin-right: 10%;
}

div.five div p
{
    display: inline;
    font-size: 1.3em;
}

div.six
{
    /*background-color: gold;*/

}

div.seven
{
    /*background-color: coral;*/
    height: 5vh;
}

div#loading
{
    display: none;
    position: absolute;
    top: 43vh;
    left: 25vw;
    z-index: 1;
    font-size: 4em;
    color: black;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

}