@keyframes spin {
    from 
    {
        transform: rotate(0deg);
    }

    to 
    {
        transform: rotate(360deg);;
    }
}

div.spin {
    display: block;

    margin: 5%;
    width: 10vw;
    height: 10vw;
    background-color: green;

    animation-name: spin;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes skewYdir {
    0%   
    {
         transform: skewY(0deg);
    }
    
    25%  
    {
         transform: skewY(20deg);
    }
    
    50% 
    {
        transform: skewY(0deg);
    }
    
    75% 
    {
         transform: skewY(-20deg);
    }
    
    100% 
    {
         transform: skewY(0deg);
    }
}

div.skewYdir {
    display: block;

    margin: 5%;
    width: 10vw;
    height: 10vw;
    background-color: blueviolet;

    animation-name: skewYdir;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes translateXdir {
    0%   
    {
         transform: translateX(0vw);
    }
    
    25%  
    {
         transform: translateX(20vw);
    }
    
    50% 
    {
        transform: translateX(40vw);
    }
    
    75% 
    {
         transform: translateX(20vw);
    }
    
    100% 
    {
         transform: translateX(0vw);
    }
}

div.translateXdir {
    display: block;

    margin: 5%;
    width: 10vw;
    height: 10vw;
    background-color: goldenrod;

    animation-name: translateXdir;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}